/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-05-07 01:23:46
 * @version $Id$
 */
/* line 17, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/share.scss */
.clearfix {
  *zoom: 1;
}

/* line 21, ../sass/share.scss */
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

/* line 28, ../sass/share.scss */
.vertical-centering:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* line 35, ../sass/share.scss */
.ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 42, ../sass/share.scss */
.hide {
  display: none;
}

/* line 47, ../sass/share.scss */
.hide_scroll_y {
  overflow-y: hidden;
}

/* line 51, ../sass/share.scss */
h2 {
  font-size: 1.5em;
}

/* line 56, ../sass/share.scss */
.grid {
  position: relative;
  width: 320px;
  height: 180px;
  background: rgba(255, 255, 255, 0.2);
  float: left;
}
/* line 62, ../sass/share.scss */
.grid .title, .grid .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 50px; */
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
/* line 72, ../sass/share.scss */
.grid .info {
  display: none;
  text-align: center;
}
/* line 75, ../sass/share.scss */
.grid .info img {
  position: absolute;
  width: 80px;
  height: 80px;
  top: -40px;
  left: 50%;
  margin-left: -40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}
/* line 84, ../sass/share.scss */
.grid .info span {
  vertical-align: top;
  max-width: 170px;
}
/* line 89, ../sass/share.scss */
.grid .author {
  padding-top: 50px;
}

/* line 95, ../sass/share.scss */
.grid.channel:hover .title {
  display: none;
}
/* line 98, ../sass/share.scss */
.grid.channel:hover .info {
  display: block;
}

/* line 105, ../sass/share.scss */
body {
  background: #2f2f2f;
  color: #fff;
  overflow-x: hidden;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* line 114, ../sass/share.scss */
#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 640px;
  height: 100%;
  background: #2f2f2f;
}

/* line 124, ../sass/share.scss */
#masthead {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background: #262626;
}

/* line 134, ../sass/share.scss */
#view_1, #view_2, #view_3 {
  position: absolute;
  top: 0;
}

/* line 139, ../sass/share.scss */
#view_1, #view3 {
  padding-bottom: 50px;
}

/* line 143, ../sass/share.scss */
#author {
  padding-top: 50px;
}
/* line 145, ../sass/share.scss */
#author * {
  vertical-align: middle;
}
/* line 148, ../sass/share.scss */
#author #avatar {
  height: 100px;
}
/* line 150, ../sass/share.scss */
#author #avatar * {
  display: inline-block;
}
/* line 153, ../sass/share.scss */
#author #avatar img {
  width: 130px;
  height: 130px;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  -ms-border-radius: 65px;
  -o-border-radius: 65px;
  border-radius: 65px;
}
/* line 158, ../sass/share.scss */
#author #avatar span {
  margin-left: 20px;
}
/* line 162, ../sass/share.scss */
#author #author_info {
  display: inline-block;
}
/* line 164, ../sass/share.scss */
#author #author_info span {
  display: inline-block;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  text-align: center;
}
/* line 171, ../sass/share.scss */
#author #author_info #author_chnnels {
  background: #d8b553;
}
/* line 174, ../sass/share.scss */
#author #author_info #author_pv {
  background: #c85da3;
}
/* line 177, ../sass/share.scss */
#author #author_info #author_sub {
  background: #66c6c2;
}
/* line 181, ../sass/share.scss */
#author #channels_desc {
  margin: 20px 0;
}
/* line 184, ../sass/share.scss */
#author #channels {
  margin: 0 auto;
}

/* line 192, ../sass/share.scss */
#video_list_area {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}
/* line 202, ../sass/share.scss */
#video_list_area #video_list_bg {
  max-width: 1900px;
  margin: 0 auto;
  margin-top: 85px;
}
/* line 208, ../sass/share.scss */
#video_list_area #video_list_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px 15px 0 0;
  font-size: 24px;
}
/* line 215, ../sass/share.scss */
#video_list_area #video_list_title {
  position: relative;
  height: 50px;
  background: #343434;
}
/* line 219, ../sass/share.scss */
#video_list_area #video_list_title h2 {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
}
/* line 225, ../sass/share.scss */
#video_list_area #video_list {
  width: 100%;
  max-height: 500px;
  overflow: auto;
  margin: 0 auto;
}

/* line 234, ../sass/share.scss */
#player_control {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1) left top no-repeat\0;
}
/* line 244, ../sass/share.scss */
#player_control #info_bar {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
/* line 252, ../sass/share.scss */
#player_control #info_bar #progress_time_bg {
  height: 5px;
  width: 100%;
  background: #666;
}
/* line 256, ../sass/share.scss */
#player_control #info_bar #progress_time_bg #progress_time {
  height: 100%;
  width: 0;
  background: #ff0000;
}
/* line 262, ../sass/share.scss */
#player_control #info_bar #channel_info {
  position: relative;
  display: table;
  width: 100%;
  height: 135px;
  padding-left: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
}
/* line 270, ../sass/share.scss */
#player_control #info_bar #channel_info * {
  vertical-align: middle;
}
/* line 273, ../sass/share.scss */
#player_control #info_bar #channel_info #channel_intro, #player_control #info_bar #channel_info #author_info {
  display: table-cell;
}
/* line 277, ../sass/share.scss */
#player_control #info_bar #channel_info #channel_intro div {
  max-width: 400px;
}
/* line 280, ../sass/share.scss */
#player_control #info_bar #channel_info #channel_intro div p {
  position: relative;
  display: inline-block;
  height: 3em;
  overflow: hidden;
}
/* line 288, ../sass/share.scss */
#player_control #info_bar #channel_info #author_info {
  width: 600px;
}
/* line 290, ../sass/share.scss */
#player_control #info_bar #channel_info #author_info span {
  display: inline-block;
}
/* line 293, ../sass/share.scss */
#player_control #info_bar #channel_info #author_info #avatar_info {
  height: 80px;
}
/* line 295, ../sass/share.scss */
#player_control #info_bar #channel_info #author_info #avatar_info img {
  margin-left: 24px;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}
/* line 302, ../sass/share.scss */
#player_control #info_bar #channel_info #author_info #avatar_info #name {
  width: 150px;
  margin-left: 12px;
}
/* line 305, ../sass/share.scss */
#player_control #info_bar #channel_info #author_info #avatar_info #name span {
  margin-left: 2px;
  width: 130px;
}
/* line 314, ../sass/share.scss */
#player_control #play_pause {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  background: green;
}
/* line 324, ../sass/share.scss */
#player_control #control_btn {
  display: none;
  position: absolute;
  top: 30px;
  right: 10px;
}
/* line 329, ../sass/share.scss */
#player_control #control_btn li {
  margin-bottom: 10px;
  padding: 10px;
  background: #ff8800;
}

/* line 338, ../sass/share.scss */
#recommend {
  margin-left: 80px;
}
/* line 340, ../sass/share.scss */
#recommend h3 {
  margin: 20px 0;
}

/* line 345, ../sass/share.scss */
.arrow {
  position: fixed;
  top: 0;
  width: 50px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background: red\0;
}

/* line 353, ../sass/share.scss */
.arrow_left {
  left: 0;
}

/* line 356, ../sass/share.scss */
.arrow_right {
  right: 0;
}

@media only screen and (max-width: 900px) {
  /* line 366, ../sass/share.scss */
  #player_control #info_bar #channel_info #author_info #name {
    display: none;
  }
}
