/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2014-05-07 01:23:46
 * @version $Id$
 */
/* line 17, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/share.scss */
.clearfix {
  *zoom: 1;
}

/* line 14, ../sass/share.scss */
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}

/* line 21, ../sass/share.scss */
.vertical-centering:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* line 28, ../sass/share.scss */
.hide {
  display: none;
}

/* line 32, ../sass/share.scss */
.hide_scroll_y {
  overflow-y: hidden;
}

/* line 36, ../sass/share.scss */
body {
  background: #242424;
  color: #fff;
  overflow-x: hidden;
}

/* line 43, ../sass/share.scss */
#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #242424;
}

/* line 52, ../sass/share.scss */
#masthead {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background: #0088ff;
}

/* line 62, ../sass/share.scss */
#view_1, #view_2, #view_3 {
  position: absolute;
  top: 0;
}

/* line 67, ../sass/share.scss */
#author {
  padding-top: 50px;
}
/* line 69, ../sass/share.scss */
#author * {
  vertical-align: middle;
}
/* line 72, ../sass/share.scss */
#author #avatar {
  height: 100px;
}
/* line 74, ../sass/share.scss */
#author #avatar * {
  display: inline-block;
}
/* line 77, ../sass/share.scss */
#author #avatar img {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
/* line 81, ../sass/share.scss */
#author #author_info {
  display: inline-block;
}
/* line 83, ../sass/share.scss */
#author #author_info span {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: green;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
/* line 91, ../sass/share.scss */
#author #channels {
  margin: 0 auto;
}

/* line 99, ../sass/share.scss */
#video_list_area {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
/* line 109, ../sass/share.scss */
#video_list_area #video_list_bg {
  max-height: 900px;
  max-width: 1900px;
  margin: 0 auto;
  overflow: auto;
}
/* line 116, ../sass/share.scss */
#video_list_area #video_list_title {
  position: relative;
  height: 50px;
  background: green;
}
/* line 121, ../sass/share.scss */
#video_list_area #video_list_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 24px;
}
/* line 128, ../sass/share.scss */
#video_list_area #video_list {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* line 134, ../sass/share.scss */
#player_control {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 142, ../sass/share.scss */
#player_control #info_bar {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #666;
}
/* line 151, ../sass/share.scss */
#player_control #play_pause {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  background: green;
}
/* line 161, ../sass/share.scss */
#player_control #control_btn {
  display: none;
  position: absolute;
  top: 30px;
  right: 10px;
}
/* line 166, ../sass/share.scss */
#player_control #control_btn li {
  margin-bottom: 10px;
  padding: 10px;
  background: #ff8800;
}

/* line 177, ../sass/share.scss */
.grid {
  position: relative;
  width: 320px;
  height: 180px;
  background: rgba(255, 255, 255, 0.2);
  float: left;
}
/* line 183, ../sass/share.scss */
.grid .title, .grid .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 50px; */
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}
/* line 193, ../sass/share.scss */
.grid .info {
  display: none;
  text-align: center;
}
/* line 196, ../sass/share.scss */
.grid .info img {
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}
/* line 204, ../sass/share.scss */
.grid .author {
  padding-top: 50px;
}

/* line 210, ../sass/share.scss */
.grid.channel:hover .title {
  display: none;
}
/* line 213, ../sass/share.scss */
.grid.channel:hover .info {
  display: block;
}

/* line 219, ../sass/share.scss */
.arrow {
  position: fixed;
  top: 0;
  width: 50px;
  height: 100%;
  background: red \9;
  background: rgba(0, 0, 0, 0.5);
}

/* line 227, ../sass/share.scss */
.arrow_left {
  left: 0;
}

/* line 230, ../sass/share.scss */
.arrow_right {
  right: 0;
}
