/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2013-10-22 22:52:41
 * @version $Id$
 */

@import "compass";
@import "compass/reset";

$bgColor: #000;
$themeColor: #ff8800;
$deviceHeight: 720px;

body, html {
    width: 100%;
    // height: 100%;
}

body {
    position: absolute;
    background: $bgColor;
    color: #fff;
}
.dark {
    opacity: 0.5;
}
.correct {
    color: #0088ff;
}

/**
 *         __                                            __
 *      / /_  ___  _  ______ _____ _____  ____  ____ _/ /
 *     / __ \/ _ \| |/_/ __ `/ __ `/ __ \/ __ \/ __ `/ /
 *    / / / /  __/>  </ /_/ / /_/ / /_/ / / / / /_/ / /
 *   /_/ /_/\___/_/|_|\__,_/\__, /\____/_/ /_/\__,_/_/
 *                         /____/
 */

$hexagonalHeight: 60px;
$hexagonalWidth: 30px;

.hexagonal {
    position: absolute;
    margin: 0 auto;
    width: $hexagonalWidth;
    height: $hexagonalHeight;
    background: $themeColor;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -$hexagonalWidth/2;
        width: 0;
        height: 0;
        border-top: solid $hexagonalWidth transparent;
        border-bottom: solid $hexagonalWidth transparent;
        border-left: 0;
        border-right: solid $hexagonalWidth/2 $themeColor;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -$hexagonalWidth/2;
        width: 0;
        height: 0;
        border-top: solid $hexagonalWidth transparent;
        border-bottom: solid $hexagonalWidth transparent;
        border-left: solid $hexagonalWidth/2 $themeColor;
        border-right: 0;
    }
}
.hexagonal_1 {
    width: 840px;
}
.hexagonal_2 {
    width: 720px;
    left: 50%;
    margin-left: -360px;
}
.hexagonal_2_up {
    top: -$hexagonalHeight/2;
}
.hexagonal_2_down {
    top: $hexagonalHeight/2;
}
.hexagonal_3 {
    width: 600px;
    left: 50%;
    margin-left: -300px;
}
.hexagonal_3_up {
    top: -$hexagonalHeight;
}
.hexagonal_3_down {
    top: $hexagonalHeight;
}
.hexagonal_4_up {
    top: -$hexagonalHeight*2;
}
.hexagonal_4_down {
    top: $hexagonalHeight*2;
}
.hexagonal_5 {
    width: 480px;
    left: 50%;
    margin-left: -240px;
}
.hexagonal_5_up {
    top: -($hexagonalHeight/2)*5;
}
.hexagonal_5_down {
    top: ($hexagonalHeight/2)*5;
}
.hexagonal_6_up {
    top: -$hexagonalHeight*3;
    left: 50%;
    margin-left: -$hexagonalWidth/2;
}
.hexagonal_6_down {
    top: $hexagonalHeight*3;
    left: 50%;
    margin-left: -$hexagonalWidth/2;
}
.hexagonal_ans {
    width: 240px;
}

/**
 *                                                __        __
 *     _________  _________  ___  _____   _____/ /___  __/ /__
 *    / ___/ __ \/ ___/ __ \/ _ \/ ___/  / ___/ __/ / / / / _ \
 *   / /__/ /_/ / /  / / / /  __/ /     (__  ) /_/ /_/ / /  __/
 *   \___/\____/_/  /_/ /_/\___/_/     /____/\__/\__, /_/\___/
 *                                              /____/
 */

.corner {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: 10px;
    // background: #ccc;
    .avatar {
        position: absolute;
        width: 200px;
        height: 200px;
        background: $themeColor;
        img {
            border: 0;
            padding: 15px;
        }
    }
}

#corner_1 {
    top: 0;
    left: 0;
}
#corner_2 {
    bottom: 0;
    left: 0;
}
#corner_3 {
    top: 0;
    right: 0;
}
#corner_4 {
    bottom: 0;
    right: 0;
}
.avatar_1 {
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 0;
        border-bottom: solid $hexagonalHeight/2 $bgColor;
        border-left: solid $hexagonalWidth/2 transparent;
        border-right: 0;
    }
}
.avatar_2 {
    bottom: 0;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 0;
        border-top: solid $hexagonalHeight/2 $bgColor;
        border-left: solid $hexagonalWidth/2 transparent;
        border-right: 0;
    }
}
.avatar_3 {
    right: 0;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 0;
        border-bottom: solid $hexagonalHeight/2 $bgColor;
        border-right: solid $hexagonalWidth/2 transparent;
        border-left: 0;
    }
}
.avatar_4 {
    right: 0;
    bottom: 0;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-bottom: 0;
        border-top: solid $hexagonalHeight/2 $bgColor;
        border-right: solid $hexagonalWidth/2 transparent;
        border-left: 0;
    }
}
$hexVertical1: 0;
$hexVertical2: 65px;
$hexVertical3: 33px;
.hex_area {
    position: absolute;
    width: 95px;
    height: 93px;
    // background: red;
    .left_top_left {
        top: $hexVertical1;
        left: 0;
    }
    .left_bottom_left {
        top: $hexVertical2;
        left: 0;
    }
    .left_right {
        top: $hexVertical3;
        left: 50px;
    }
    .right_top_right {
        top: $hexVertical1;
        right: 0;
    }
    .right_bottom_right {
        top: $hexVertical2;
        right: 0;
    }
    .right_left {
        top: $hexVertical3;
        right: 50px;
    }
    .right_ans, .shake_count {
        position: absolute;
        font-size: 28px;
    }

}
#hex_1 {
    bottom: 34px;
    right: 1px;
    .right_ans {
        top: 14px;
        left: -6px;
    }
    .shake_count {
        bottom: 14px;
        right: 11px;
    }
}
#hex_2 {
    top: 2px;
    right: 1px;
    .right_ans {
        bottom: -16px;
        left: -6px;
    }
    .shake_count {
        bottom: 14px;
        right: 11px;
    }
}
#hex_3 {
    bottom: 34px;
    left: 61x;
    .right_ans {
        top: 14px;
        right: -6px;
    }
    .shake_count {
        bottom: 14px;
        left: 8px;
    }
}
#hex_4 {
    top: 2px;
    left: 1px;
    .right_ans {
        bottom: -16px;
        right: -6px;
    }
    .shake_count {
        bottom: 14px;
        left: 8px;
    }
}

/**
 *                           _____ __
 *       ____  _________  / __(_) /__
 *      / __ \/ ___/ __ \/ /_/ / / _ \
 *     / /_/ / /  / /_/ / __/ / /  __/
 *    / .___/_/   \____/_/ /_/_/\___/
 *   /_/
 */

.profile {
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 240px;
    // background: #0088ff;
    font-size: 28px;
    .horizon {
        width: 105px;
        border: solid 3px $themeColor;
    }
    .name, .rank {
        padding: 6px 0;
    }
    .name {
        width: 185px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
#profile_1 {
    bottom: 10px;
}
#profile_2 {
    top: 10px;
}
#profile_3 {
    bottom: 10px;
    right: 0;
    text-align: right;
    .name {
        position: relative;
        left: 55px;
    }
    .horizon {
        position: relative;
        left: 125px;
    }
}
#profile_4 {
    top: 10px;
    right: 0;
    text-align: right;
    .name {
        position: relative;
        left: 55px;
    }
    .horizon {
        position: relative;
        left: 125px;
    }
}

.con {
    position: relative;
    width: 840px;
    height: $deviceHeight;
    // background: #aaa;
    margin: 0 auto;
    #player {
        position: absolute;
        top: -145px;
        left: 50%;
        margin-left: -240px;
    }
    .qusetion_bg {
        position: absolute;
        top: 50%;
        height: $hexagonalHeight;
        width: 100%;
        margin-top: -$hexagonalHeight/2;
    }
    .ans_bg {
        position: absolute;
        bottom: 10px;
        width: 100%;
        height: 170px;
        font-size: 28px;
        .ans {
            position: absolute;
            width: 240px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
        }
        .top {
            top: 20px;
        }
        .bottom {
            bottom: 10px;
        }
        .left {
            left: 135px;
        }
        .right {
            right: 135px;
        }
        .ans_top {
            top: 35px;
        }
        .ans_bottom {
            bottom: 25px;
        }
        .reciprocal_bg {
            bottom: 50px;
            left: 50%;
            margin-left: -15px;
            text-align: center;
            .reciprocal {
                color: #ff0000;
                font-size: 50px;
                padding-top: 6px;
            }
        }
    }
}