/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2013-10-24 22:58:06
 * @version $Id$
 */

@import "compass";
@import "compass/reset";
$animation-support: webkit, moz, o, ms, not khtml;
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
@include keyframes(glow) {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}
.glow {
    @include experimental('animation-name', glow, $animation-support);
    @include experimental('animation-duration', 1.5s, $animation-support);
    @include experimental('animation-iteration-count', infinite, $animation-support);
}

$themeColor: #ff0000;
$bgColor: #000;

.loading {
    position: relative;
    width: 640px;
    height: 280px;
    overflow: hidden;
    background: $bgColor;
    margin: 0 auto;
    border: solid $themeColor;
    border-width: 20px 0;
    text-align: center;
    font-size: 130px;
    color: $themeColor;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: solid 10px $bgColor;
        @include box-sizing(border-box);
    }
    .loading_bg {
        position: absolute;
        left: 50%;
        margin-left: -360px;
        width: 710px;
        .col {
            display: inline-block;
            height: 280px;
            width: 40px;
            background: $themeColor;
            @include skew(-30deg, 0);
        }
    }
    .text {
        position: absolute;
        padding: 20px;
        top: 50%;
        left: 50%;
        margin-top: -85px;
        margin-left: -215px;
        background: #000;
    }
}
