<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<title>Share</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!-- <script src="../../lib/jquery-1.10.1.js"></script> -->
<!-- <link rel="stylesheet" href="/lib/bootstrap-3.0.0/css/bootstrap.css"> -->
<script src="/lib/angular_v1.2.16.js"></script>
<script src="/lib/angular-scroll.js"></script>
<link rel="stylesheet" href="stylesheets/share.css">
</head>
<body>
    <div id="bg" onmousemove="showControl()">
        <div class="cube cube_1"></div>
        <div class="cube cube_2"></div>
        <div class="cube cube_3"></div>
        <div class="cube cube_4"></div>
        <div class="cube cube_5"></div>
        <div class="cube cube_6"></div>
        <div class="cube cube_7"></div>
        <div class="cube cube_8"></div>
        <div class="cube cube_9"></div>
        <div class="cube cube_10"></div>
        <div class="cube cube_11"></div>
        <div class="cube cube_12"></div>
        <div class="cube cube_13"></div>
        <div class="cube cube_14"></div>
        <div class="cube cube_15"></div>
        <!-- masthead -->
        <div id="masthead">
            <img src="" alt="LOGO" width="80" height="25">
        </div>
        <!-- view -->

        <div id="view_1">
            <div id="author">
                <span id="avatar" class="vertical-centering">
                    <img src="" alt="Author" width="100" height="100">
                    <span>
                        頻道製作人
                        <br>
                        {{author.name
                    </span>
                </span>
                <span id="author_info">
                    <span id="author_chnnels"></span>
                    <span id="author_pv"></span>
                    <span id="author_sub"></span>
                </span>
                <br>
                <div id="channels_desc">{{author.name 建立的頻道</div>
                <div id="channels" class="clearfix">
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                </div>
            </div>
        </div>
        <div id="view_2" ng-controller="playerControl">
            <div id="player"></div>
            <div id="video_list_bg" class="hide">
                <div id="video_list_title">
                    {{channel.name&nbsp;影片列表({{channel_count)
                    <span id="video_list_close" ng-click="closeVideoList()">X</span>
                </div>
                <div id="video_list">
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                    <div class="grid"></div>
                </div>
            </div>
            <div id="player_control" onmousemove="showPlayerControl()">
                <div id="info_bar">
                    Info_bar
                </div>
                <ul id="control_btn">
                    <li>下一部影片</li>
                    <li ng-click="toggleVideList()">影片清單</li>
                    <li ng-click="toggleFullScreen()">全螢幕</li>
                </ul>
            </div>
        </div>
        <div id="view_3">
            <div id="category" class="clearfix">
                <h2 style="font-size:48px">你可能也喜歡的頻道</h2>
                <div class="grid"></div>
                <div class="grid"></div>
                <div class="grid"></div>
                <div class="grid"></div>
                <div class="grid"></div>
            </div>
        </div>
        <!-- arrow -->
        <div class="arrow arrow_left vertical-centering" ng-controller="slideControl" ng-click="slideTo('left')">
            <span class="arrow_ico">&#9664;</span>
        </div>
        <div class="arrow arrow_right vertical-centering" ng-controller="slideControl" ng-click="slideTo('right')">
            <span class="arrow_ico">&#9654;</span>
        </div>
    </div>
</body>
<script src="/develop/yt_iframe_api_player/javascripts/yt_iframe_api_player.js"></script>

<script>
    var widthView = window.document.documentElement.clientWidth - 250,
        gridWidth = 320;
    // init view
    document.querySelector('#view_1').style.width = widthView + 'px';
    document.querySelector('#view_2').style.width = widthView + 'px';
    document.querySelector('#view_3').style.width = widthView + 'px';
    document.querySelector('#view_4').style.width = widthView + 'px';
    document.querySelector('#view_2').style.left = widthView + 'px';
    document.querySelector('#view_3').style.left = 2*widthView + 'px';
    document.querySelector('#bg').style.width = 3*widthView + 'px';
    document.querySelector('#player_control').style.width = widthView + 'px';
    document.querySelector('#player_control').style.height = (widthView*9)/16 + 'px';
    document.querySelector('#channels').style.width = Math.floor(widthView/gridWidth)*gridWidth + 'px';

    fitVideoList();
    window.addEventListener('resize', fitVideoList);
    function fitVideoList() {
        var windowWidth = window.document.documentElement.clientWidth;
        console.log(Math.floor(windowWidth/gridWidth)*gridWidth);
        document.querySelector('#video_list').style.width = Math.floor(windowWidth/gridWidth)*gridWidth + 'px';
    }


    function checkArrowStatue() {
        var position = window.pageXOffset;
        if (position > 2*widthView) {
            document.querySelector('.arrow_right').style.display = 'none';
        } else {
            document.querySelector('.arrow_right').style.display = 'block';
        }
        if (position < widthView) {
            document.querySelector('.arrow_left').style.display = 'none';
        } else {
            document.querySelector('.arrow_left').style.display = 'block';
        }
    }

    // angular scroll slide
    angular.module('myApp', ['duScroll']).controller(
        'slideControl',
        function($scope, $document){
            $scope.slideTo = function(direction) {
                var position = window.pageXOffset;
                checkArrowStatue();
                if (direction === 'left') {
                    position = (Math.ceil(position/widthView) - 1)*widthView;
                } else {
                    position = (Math.floor(position/widthView) + 1)*widthView;
                }
                $document.scrollTo(position, window.pageYOffset, 900);
            }
            var hash = parseInt(location.hash.slice(1), 10);
            $document.scrollTo(widthView*hash, 0, 900);
        }
    );



    var timeOutToHidePlayerControl;
    function showPlayerControl() {
        clearTimeout(timeOutToHidePlayerControl);
        document.querySelector('#info_bar').style.display = 'block';
        document.querySelector('#control_btn').style.display = 'block';
        timeOutToHidePlayerControl = setTimeout(function() {
            document.querySelector('#info_bar').style.display = 'none';
            document.querySelector('#control_btn').style.display = 'none';
        }, 2000);
    }
    var timeOutToHideControl;
    function showControl() {
        checkArrowStatue();
        clearTimeout(timeOutToHideControl);
        document.querySelector('#masthead').style.display = 'block';
        // document.querySelector('.arrow_left').style.display = 'block';
        // document.querySelector('.arrow_right').style.display = 'block';
        timeOutToHideControl = setTimeout(function() {
            document.querySelector('#masthead').style.display = 'none';
            document.querySelector('.arrow_left').style.display = 'none';
            document.querySelector('.arrow_right').style.display = 'none';
        }, 2000);
    }


    /**
     * playerControl
     */
    function playerControl($scope) {
        $scope.toggleVideList = function() {
            document.querySelector('#video_list_bg').setAttribute('class', '');
            document.querySelector('body').setAttribute('class', 'hide_scroll_y');
        };
        $scope.closeVideoList = function() {
            document.querySelector('#video_list_bg').setAttribute('class', 'hide');
            document.querySelector('body').setAttribute('class', '');
        };
        $scope.toggleFullScreen = function() {
            var playerElement = document.querySelector('#player');
            // full screen
            if (!document.fullscreenElement &&
                !document.mozFullScreenElement &&
                !document.webkitFullscreenElement &&
                !document.msFullscreenElement) {
                if (document.documentElement.requestFullscreen) {
                    playerElement.requestFullscreen();
                } else if (document.documentElement.msRequestFullscreen) {
                    playerElement.msRequestFullscreen();
                } else if (document.documentElement.mozRequestFullScreen) {
                    playerElement.mozRequestFullScreen();
                } else if (document.documentElement.webkitRequestFullscreen) {
                    playerElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
                }
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                }
            }
        }
        window.addEventListener('resize', function() {
            // body...
        });
    }

    var videos = [
        '9COe8DCV0O8',
        'zebShorVev4',
        'zMpuwAbQcM4',
        '2_BSVWMiojU',
        'EcsoYwO83aw',
        'SquQpiztDME',
        'Qb57Ddj8VRA',
        'tIfjrmkxvYw',
        'Ef2Hfc1Ya9w',
        'Ug3Y3eesePA'
    ];
    var parameters = {
        rel: 1,
        autoplay: 0,
        disablekb: 0,
        showsearch: 0,
        showinfo: 0,
        controls: 0,
        autohide: 0,
        modestbranding: 0,
        wmode: 'opaque',
        hd: 1,
        html5: 1,
        iv_load_policy: 3
    };
    var YTPlayer = new YTPlayer(
    {
        videoList: videos,
        parameters: parameters,
        width: widthView,
        height: (widthView*9)/16
    }
    );

</script>
<script src="/lib/jquery-1.10.1.js"></script>
<script>
$(function () {
    var Things = $('.grid');
    for (var i = 0; i < Things.length; i++) {
        $('.grid:eq(' + i + ')').css(
            {
                'background': '#' + ((1<<24)*Math.random()|0).toString(16)
            }
        );
    };

});
</script>
</html>