/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2013-10-22 22:52:41
 * @version $Id$
 */
/* line 17, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/layout.scss */
body, html {
  width: 100%;
}

/* line 20, ../sass/layout.scss */
body {
  position: absolute;
  background: black;
  color: #fff;
}

/* line 25, ../sass/layout.scss */
img {
  border: 0;
}

/* line 28, ../sass/layout.scss */
.hide {
  display: none;
}

/* line 31, ../sass/layout.scss */
.dark {
  opacity: 0.5;
}

/* line 34, ../sass/layout.scss */
.correct {
  color: #0088ff;
}

/* line 37, ../sass/layout.scss */
.win_color {
  color: #0088ff;
}

/* line 40, ../sass/layout.scss */
.lose_color {
  color: #ff0000;
}

/**
 * loading
 */
@-webkit-keyframes glow {
  /* line 64, ../sass/layout.scss */
  0% {
    opacity: 0.1;
  }

  /* line 67, ../sass/layout.scss */
  50% {
    opacity: 1;
  }

  /* line 70, ../sass/layout.scss */
  100% {
    opacity: 0.1;
  }
}

@-moz-keyframes glow {
  /* line 64, ../sass/layout.scss */
  0% {
    opacity: 0.1;
  }

  /* line 67, ../sass/layout.scss */
  50% {
    opacity: 1;
  }

  /* line 70, ../sass/layout.scss */
  100% {
    opacity: 0.1;
  }
}

@-ms-keyframes glow {
  /* line 64, ../sass/layout.scss */
  0% {
    opacity: 0.1;
  }

  /* line 67, ../sass/layout.scss */
  50% {
    opacity: 1;
  }

  /* line 70, ../sass/layout.scss */
  100% {
    opacity: 0.1;
  }
}

@keyframes glow {
  /* line 64, ../sass/layout.scss */
  0% {
    opacity: 0.1;
  }

  /* line 67, ../sass/layout.scss */
  50% {
    opacity: 1;
  }

  /* line 70, ../sass/layout.scss */
  100% {
    opacity: 0.1;
  }
}

/* line 74, ../sass/layout.scss */
.glow {
  -webkit-animation-name: glow;
  -moz-animation-name: glow;
  -ms-animation-name: glow;
  -o-animation-name: glow;
  animation-name: glow;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 83, ../sass/layout.scss */
.loading {
  position: absolute;
  width: 520px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -260px;
  overflow: hidden;
  background: black;
  border: solid red;
  border-width: 20px 0;
  text-align: center;
  font-size: 96px;
  color: red;
}
/* line 98, ../sass/layout.scss */
.loading:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid black;
  border-width: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 109, ../sass/layout.scss */
.loading .loading_bg {
  position: absolute;
  left: 50%;
  margin-left: -360px;
  width: 710px;
}
/* line 114, ../sass/layout.scss */
.loading .loading_bg .col {
  display: inline-block;
  height: 280px;
  width: 20px;
  background: red;
  -webkit-transform: skew(-30deg, 0);
  -moz-transform: skew(-30deg, 0);
  -ms-transform: skew(-30deg, 0);
  -o-transform: skew(-30deg, 0);
  transform: skew(-30deg, 0);
}
/* line 122, ../sass/layout.scss */
.loading .text {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  margin-top: -58px;
  margin-left: -154px;
  background: #000;
}

/**
 *         __                                            __
 *      / /_  ___  _  ______ _____ _____  ____  ____ _/ /
 *     / __ \/ _ \| |/_/ __ `/ __ `/ __ \/ __ \/ __ `/ /
 *    / / / /  __/>  </ /_/ / /_/ / /_/ / / / / /_/ / /
 *   /_/ /_/\___/_/|_|\__,_/\__, /\____/_/ /_/\__,_/_/
 *                         /____/
 */
/* line 147, ../sass/layout.scss */
.hexagonal {
  position: absolute;
  margin: 0 auto;
  width: 30px;
  height: 60px;
  background: #ff8800;
}
/* line 153, ../sass/layout.scss */
.hexagonal:before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 0;
  height: 0;
  border-top: solid 30px transparent;
  border-bottom: solid 30px transparent;
  border-left: 0;
  border-right: solid 15px #ff8800;
}
/* line 165, ../sass/layout.scss */
.hexagonal:after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 0;
  height: 0;
  border-top: solid 30px transparent;
  border-bottom: solid 30px transparent;
  border-left: solid 15px #ff8800;
  border-right: 0;
}

/* line 178, ../sass/layout.scss */
.hexagonal_small {
  position: absolute;
  margin: 0 auto;
  width: 20px;
  height: 40px;
  background: #ff8800;
}
/* line 184, ../sass/layout.scss */
.hexagonal_small:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-top: solid 20px transparent;
  border-bottom: solid 20px transparent;
  border-left: 0;
  border-right: solid 10px #ff8800;
}
/* line 196, ../sass/layout.scss */
.hexagonal_small:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-top: solid 20px transparent;
  border-bottom: solid 20px transparent;
  border-left: solid 10px #ff8800;
  border-right: 0;
}

/* line 209, ../sass/layout.scss */
.hexagonal_1 {
  width: 720px;
}

/* line 212, ../sass/layout.scss */
.hexagonal_2 {
  width: 540px;
  left: 50%;
  margin-left: -270px;
}

/* line 217, ../sass/layout.scss */
.hexagonal_2_up {
  top: -30px;
}

/* line 220, ../sass/layout.scss */
.hexagonal_2_down {
  top: 30px;
}

/* line 223, ../sass/layout.scss */
.hexagonal_3 {
  width: 450px;
  left: 50%;
  margin-left: -225px;
}

/* line 228, ../sass/layout.scss */
.hexagonal_3_up {
  top: -60px;
}

/* line 231, ../sass/layout.scss */
.hexagonal_3_down {
  top: 60px;
}

/* line 234, ../sass/layout.scss */
.hexagonal_4 {
  width: 362px;
  left: 50%;
  margin-left: -181px;
}

/* line 239, ../sass/layout.scss */
.hexagonal_4_up {
  top: -120px;
}

/* line 242, ../sass/layout.scss */
.hexagonal_4_down {
  top: 120px;
}

/* line 245, ../sass/layout.scss */
.hexagonal_5 {
  width: 390px;
  left: 50%;
  margin-left: -195px;
}

/* line 250, ../sass/layout.scss */
.hexagonal_5_up {
  top: -90px;
}

/* line 253, ../sass/layout.scss */
.hexagonal_5_down {
  top: 90px;
}

/* line 256, ../sass/layout.scss */
.hexagonal_6 {
  width: 240px;
  left: 50%;
  margin-left: -120px;
}

/* line 261, ../sass/layout.scss */
.hexagonal_6_up {
  top: -150px;
}

/* line 264, ../sass/layout.scss */
.hexagonal_6_down {
  top: 150px;
}

/* line 267, ../sass/layout.scss */
.hexagonal_7_up {
  top: -180px;
  left: 50%;
  margin-left: -15px;
}

/* line 272, ../sass/layout.scss */
.hexagonal_7_down {
  top: 180px;
  left: 50%;
  margin-left: -15px;
}

/* line 277, ../sass/layout.scss */
.hexagonal_ans {
  width: 240px;
}

/**
 *                                                __        __
 *     _________  _________  ___  _____   _____/ /___  __/ /__
 *    / ___/ __ \/ ___/ __ \/ _ \/ ___/  / ___/ __/ / / / / _ \
 *   / /__/ /_/ / /  / / / /  __/ /     (__  ) /_/ /_/ / /  __/
 *   \___/\____/_/  /_/ /_/\___/_/     /____/\__/\__, /_/\___/
 *                                              /____/
 */
/* line 290, ../sass/layout.scss */
.corner {
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 10px;
}
/* line 296, ../sass/layout.scss */
.corner .avatar {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #ff8800;
}
/* line 301, ../sass/layout.scss */
.corner .avatar img {
  border: 0;
  padding: 15px;
}

/* line 308, ../sass/layout.scss */
#corner_1 {
  top: 0;
  left: 0;
}

/* line 312, ../sass/layout.scss */
#corner_2 {
  bottom: 0;
  left: 0;
}

/* line 316, ../sass/layout.scss */
#corner_3 {
  top: 0;
  right: 0;
}

/* line 320, ../sass/layout.scss */
#corner_4 {
  bottom: 0;
  right: 0;
}

/* line 325, ../sass/layout.scss */
.avatar_1:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 0;
  border-bottom: solid 30px black;
  border-left: solid 15px transparent;
  border-right: 0;
}

/* line 338, ../sass/layout.scss */
.avatar_2 {
  bottom: 0;
}
/* line 340, ../sass/layout.scss */
.avatar_2:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 0;
  border-top: solid 30px black;
  border-left: solid 15px transparent;
  border-right: 0;
}

/* line 353, ../sass/layout.scss */
.avatar_3 {
  right: 0;
}
/* line 355, ../sass/layout.scss */
.avatar_3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 0;
  border-bottom: solid 30px black;
  border-right: solid 15px transparent;
  border-left: 0;
}

/* line 368, ../sass/layout.scss */
.avatar_4 {
  right: 0;
  bottom: 0;
}
/* line 371, ../sass/layout.scss */
.avatar_4:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 0;
  border-top: solid 30px black;
  border-right: solid 15px transparent;
  border-left: 0;
}

/* line 387, ../sass/layout.scss */
.hex_area {
  position: absolute;
  width: 85px;
  height: 83px;
}
/* line 392, ../sass/layout.scss */
.hex_area .left_top_left {
  top: 0;
  left: 0;
}
/* line 396, ../sass/layout.scss */
.hex_area .left_bottom_left {
  top: 45px;
  left: 0;
}
/* line 400, ../sass/layout.scss */
.hex_area .left_right {
  top: 23px;
  left: 34px;
}
/* line 404, ../sass/layout.scss */
.hex_area .right_top_right {
  top: 0;
  right: 0;
}
/* line 408, ../sass/layout.scss */
.hex_area .right_bottom_right {
  top: 45px;
  right: 0;
}
/* line 412, ../sass/layout.scss */
.hex_area .right_left {
  top: 23px;
  right: 34px;
}
/* line 416, ../sass/layout.scss */
.hex_area .right_ans {
  text-align: center;
  width: 30px;
}
/* line 420, ../sass/layout.scss */
.hex_area .right_ans, .hex_area .shake_count {
  position: absolute;
  font-size: 24px;
}

/* line 426, ../sass/layout.scss */
#hex_1 {
  bottom: 40px;
  right: 12px;
}
/* line 429, ../sass/layout.scss */
#hex_1 .right_ans {
  top: 8px;
  left: -6px;
}
/* line 433, ../sass/layout.scss */
#hex_1 .shake_count {
  bottom: 10px;
  right: 11px;
}

/* line 438, ../sass/layout.scss */
#hex_2 {
  top: 36px;
  right: 13px;
}
/* line 441, ../sass/layout.scss */
#hex_2 .right_ans {
  bottom: 6px;
  left: -6px;
}
/* line 445, ../sass/layout.scss */
#hex_2 .shake_count {
  bottom: 10px;
  right: 11px;
}

/* line 450, ../sass/layout.scss */
#hex_3 {
  bottom: 40px;
  left: 12px;
}
/* line 453, ../sass/layout.scss */
#hex_3 .right_ans {
  top: 8px;
  right: -6px;
}
/* line 457, ../sass/layout.scss */
#hex_3 .shake_count {
  bottom: 10px;
  left: 8px;
}

/* line 462, ../sass/layout.scss */
#hex_4 {
  top: 36px;
  left: 13px;
}
/* line 465, ../sass/layout.scss */
#hex_4 .right_ans {
  bottom: 6px;
  right: -6px;
}
/* line 469, ../sass/layout.scss */
#hex_4 .shake_count {
  bottom: 10px;
  left: 8px;
}

/**
 *                           _____ __
 *       ____  _________  / __(_) /__
 *      / __ \/ ___/ __ \/ /_/ / / _ \
 *     / /_/ / /  / /_/ / __/ / /  __/
 *    / .___/_/   \____/_/ /_/_/\___/
 *   /_/
 */
/* line 484, ../sass/layout.scss */
.profile {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 240px;
  font-size: 28px;
}
/* line 492, ../sass/layout.scss */
.profile .horizon {
  width: 105px;
  border: solid 3px #ff8800;
}
/* line 496, ../sass/layout.scss */
.profile .name, .profile .rank {
  padding: 6px 0;
}
/* line 499, ../sass/layout.scss */
.profile .name {
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 506, ../sass/layout.scss */
#profile_1 {
  bottom: -10px;
}

/* line 509, ../sass/layout.scss */
#profile_2 {
  top: -10px;
}

/* line 512, ../sass/layout.scss */
#profile_3 {
  bottom: -10px;
  right: 0;
  text-align: right;
}
/* line 516, ../sass/layout.scss */
#profile_3 .name {
  position: relative;
  left: 55px;
}
/* line 520, ../sass/layout.scss */
#profile_3 .horizon {
  position: relative;
  left: 125px;
}

/* line 525, ../sass/layout.scss */
#profile_4 {
  top: -10px;
  right: 0;
  text-align: right;
}
/* line 529, ../sass/layout.scss */
#profile_4 .name {
  position: relative;
  left: 55px;
}
/* line 533, ../sass/layout.scss */
#profile_4 .horizon {
  position: relative;
  left: 125px;
}

/* line 539, ../sass/layout.scss */
.con {
  position: relative;
  width: 720px;
  height: 768px;
  margin: 0 auto;
}
/* line 545, ../sass/layout.scss */
.con .banner {
  position: absolute;
  top: 60px;
  width: 100%;
}
/* line 549, ../sass/layout.scss */
.con .banner .banner_title {
  position: absolute;
  top: 6px;
  width: 100%;
  font-size: 48px;
  text-align: center;
}
/* line 556, ../sass/layout.scss */
.con .banner .hexagonal_top {
  top: -30px;
}
/* line 559, ../sass/layout.scss */
.con .banner .hexagonal_bottom {
  top: 30px;
}
/* line 562, ../sass/layout.scss */
.con .banner .hexagonal_left {
  left: 240px;
}
/* line 565, ../sass/layout.scss */
.con .banner .hexagonal_right {
  right: 240px;
}
/* line 569, ../sass/layout.scss */
.con #player {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -145px;
  margin-left: -220px;
  background: black;
}
/* line 576, ../sass/layout.scss */
.con #player .img_corner {
  position: absolute;
  height: 30px;
  width: 15px;
  background: #ff8800;
}
/* line 582, ../sass/layout.scss */
.con #player .d-30 {
  -webkit-transform: skew(-30deg, 0);
  -moz-transform: skew(-30deg, 0);
  -ms-transform: skew(-30deg, 0);
  -o-transform: skew(-30deg, 0);
  transform: skew(-30deg, 0);
}
/* line 585, ../sass/layout.scss */
.con #player .d_30 {
  -webkit-transform: skew(30deg, 0);
  -moz-transform: skew(30deg, 0);
  -ms-transform: skew(30deg, 0);
  -o-transform: skew(30deg, 0);
  transform: skew(30deg, 0);
}
/* line 588, ../sass/layout.scss */
.con #player .img_corner_top {
  top: -5px;
}
/* line 591, ../sass/layout.scss */
.con #player .img_corner_bottom {
  bottom: -3px;
}
/* line 594, ../sass/layout.scss */
.con #player .img_corner_left {
  left: -8px;
}
/* line 597, ../sass/layout.scss */
.con #player .img_corner_right {
  right: -8px;
}
/* line 601, ../sass/layout.scss */
.con .question_bg {
  position: absolute;
  top: 50%;
  height: 60px;
  width: 100%;
  margin-top: -30px;
}
/* line 608, ../sass/layout.scss */
.con .ans_bg {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 170px;
  font-size: 28px;
}
/* line 614, ../sass/layout.scss */
.con .ans_bg .ans {
  position: absolute;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
/* line 622, ../sass/layout.scss */
.con .ans_bg .top {
  top: 20px;
}
/* line 625, ../sass/layout.scss */
.con .ans_bg .bottom {
  bottom: 10px;
}
/* line 628, ../sass/layout.scss */
.con .ans_bg .left {
  left: 80px;
}
/* line 631, ../sass/layout.scss */
.con .ans_bg .right {
  right: 80px;
}
/* line 634, ../sass/layout.scss */
.con .ans_bg .ans_top {
  top: 35px;
}
/* line 637, ../sass/layout.scss */
.con .ans_bg .ans_bottom {
  bottom: 25px;
}
/* line 640, ../sass/layout.scss */
.con .ans_bg .reciprocal_bg {
  bottom: 50px;
  left: 50%;
  margin-left: -15px;
  text-align: center;
}
/* line 645, ../sass/layout.scss */
.con .ans_bg .reciprocal_bg .reciprocal {
  color: #ff0000;
  font-size: 50px;
  padding-top: 6px;
}
