/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2013-10-22 22:52:41
 * @version $Id$
 */
/* line 17, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/layout.scss */
body, html {
  width: 100%;
}

/* line 20, ../sass/layout.scss */
body {
  position: absolute;
  background: black;
  color: #fff;
}

/* line 25, ../sass/layout.scss */
img {
  border: 0;
}

/* line 28, ../sass/layout.scss */
.hide {
  display: none;
}

/* line 31, ../sass/layout.scss */
.dark {
  opacity: 0.5;
}

/* line 34, ../sass/layout.scss */
.correct {
  color: #0088ff;
}

/**
 * loading
 */
@-webkit-keyframes glow {
  /* line 58, ../sass/layout.scss */
  0% {
    opacity: 0.1;
  }

  /* line 61, ../sass/layout.scss */
  50% {
    opacity: 1;
  }

  /* line 64, ../sass/layout.scss */
  100% {
    opacity: 0.1;
  }
}

@-moz-keyframes glow {
  /* line 58, ../sass/layout.scss */
  0% {
    opacity: 0.1;
  }

  /* line 61, ../sass/layout.scss */
  50% {
    opacity: 1;
  }

  /* line 64, ../sass/layout.scss */
  100% {
    opacity: 0.1;
  }
}

@-ms-keyframes glow {
  /* line 58, ../sass/layout.scss */
  0% {
    opacity: 0.1;
  }

  /* line 61, ../sass/layout.scss */
  50% {
    opacity: 1;
  }

  /* line 64, ../sass/layout.scss */
  100% {
    opacity: 0.1;
  }
}

@keyframes glow {
  /* line 58, ../sass/layout.scss */
  0% {
    opacity: 0.1;
  }

  /* line 61, ../sass/layout.scss */
  50% {
    opacity: 1;
  }

  /* line 64, ../sass/layout.scss */
  100% {
    opacity: 0.1;
  }
}

/* line 68, ../sass/layout.scss */
.glow {
  -webkit-animation-name: glow;
  -moz-animation-name: glow;
  -ms-animation-name: glow;
  -o-animation-name: glow;
  animation-name: glow;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 77, ../sass/layout.scss */
.loading {
  position: absolute;
  width: 640px;
  height: 280px;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -320px;
  overflow: hidden;
  background: black;
  border: solid red;
  border-width: 20px 0;
  text-align: center;
  font-size: 130px;
  color: red;
}
/* line 92, ../sass/layout.scss */
.loading:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: solid black;
  border-width: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 103, ../sass/layout.scss */
.loading .loading_bg {
  position: absolute;
  left: 50%;
  margin-left: -360px;
  width: 710px;
}
/* line 108, ../sass/layout.scss */
.loading .loading_bg .col {
  display: inline-block;
  height: 280px;
  width: 40px;
  background: red;
  -webkit-transform: skew(-30deg, 0);
  -moz-transform: skew(-30deg, 0);
  -ms-transform: skew(-30deg, 0);
  -o-transform: skew(-30deg, 0);
  transform: skew(-30deg, 0);
}
/* line 116, ../sass/layout.scss */
.loading .text {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  margin-top: -85px;
  margin-left: -215px;
  background: #000;
}

/**
 *         __                                            __
 *      / /_  ___  _  ______ _____ _____  ____  ____ _/ /
 *     / __ \/ _ \| |/_/ __ `/ __ `/ __ \/ __ \/ __ `/ /
 *    / / / /  __/>  </ /_/ / /_/ / /_/ / / / / /_/ / /
 *   /_/ /_/\___/_/|_|\__,_/\__, /\____/_/ /_/\__,_/_/
 *                         /____/
 */
/* line 141, ../sass/layout.scss */
.hexagonal {
  position: absolute;
  margin: 0 auto;
  width: 30px;
  height: 60px;
  background: #ff8800;
}
/* line 147, ../sass/layout.scss */
.hexagonal:before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 0;
  height: 0;
  border-top: solid 30px transparent;
  border-bottom: solid 30px transparent;
  border-left: 0;
  border-right: solid 15px #ff8800;
}
/* line 159, ../sass/layout.scss */
.hexagonal:after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 0;
  height: 0;
  border-top: solid 30px transparent;
  border-bottom: solid 30px transparent;
  border-left: solid 15px #ff8800;
  border-right: 0;
}

/* line 172, ../sass/layout.scss */
.hexagonal_small {
  position: absolute;
  margin: 0 auto;
  width: 20px;
  height: 40px;
  background: #ff8800;
}
/* line 178, ../sass/layout.scss */
.hexagonal_small:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-top: solid 20px transparent;
  border-bottom: solid 20px transparent;
  border-left: 0;
  border-right: solid 10px #ff8800;
}
/* line 190, ../sass/layout.scss */
.hexagonal_small:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-top: solid 20px transparent;
  border-bottom: solid 20px transparent;
  border-left: solid 10px #ff8800;
  border-right: 0;
}

/* line 203, ../sass/layout.scss */
.hexagonal_1 {
  width: 630px;
}

/* line 206, ../sass/layout.scss */
.hexagonal_2 {
  width: 540px;
  left: 50%;
  margin-left: -270px;
}

/* line 211, ../sass/layout.scss */
.hexagonal_2_up {
  top: -30px;
}

/* line 214, ../sass/layout.scss */
.hexagonal_2_down {
  top: 30px;
}

/* line 217, ../sass/layout.scss */
.hexagonal_3 {
  width: 450px;
  left: 50%;
  margin-left: -225px;
}

/* line 222, ../sass/layout.scss */
.hexagonal_3_up {
  top: -60px;
}

/* line 225, ../sass/layout.scss */
.hexagonal_3_down {
  top: 60px;
}

/* line 228, ../sass/layout.scss */
.hexagonal_4 {
  width: 362px;
  left: 50%;
  margin-left: -181px;
}

/* line 233, ../sass/layout.scss */
.hexagonal_4_up {
  top: -120px;
}

/* line 236, ../sass/layout.scss */
.hexagonal_4_down {
  top: 120px;
}

/* line 239, ../sass/layout.scss */
.hexagonal_5 {
  width: 390px;
  left: 50%;
  margin-left: -195px;
}

/* line 244, ../sass/layout.scss */
.hexagonal_5_up {
  top: -90px;
}

/* line 247, ../sass/layout.scss */
.hexagonal_5_down {
  top: 90px;
}

/* line 250, ../sass/layout.scss */
.hexagonal_6 {
  width: 240px;
  left: 50%;
  margin-left: -120px;
}

/* line 255, ../sass/layout.scss */
.hexagonal_6_up {
  top: -150px;
}

/* line 258, ../sass/layout.scss */
.hexagonal_6_down {
  top: 150px;
}

/* line 261, ../sass/layout.scss */
.hexagonal_7_up {
  top: -180px;
  left: 50%;
  margin-left: -15px;
}

/* line 266, ../sass/layout.scss */
.hexagonal_7_down {
  top: 180px;
  left: 50%;
  margin-left: -15px;
}

/* line 271, ../sass/layout.scss */
.hexagonal_ans {
  width: 240px;
}

/**
 *                                                __        __
 *     _________  _________  ___  _____   _____/ /___  __/ /__
 *    / ___/ __ \/ ___/ __ \/ _ \/ ___/  / ___/ __/ / / / / _ \
 *   / /__/ /_/ / /  / / / /  __/ /     (__  ) /_/ /_/ / /  __/
 *   \___/\____/_/  /_/ /_/\___/_/     /____/\__/\__, /_/\___/
 *                                              /____/
 */
/* line 284, ../sass/layout.scss */
.corner {
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 10px;
}
/* line 290, ../sass/layout.scss */
.corner .avatar {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #ff8800;
}
/* line 295, ../sass/layout.scss */
.corner .avatar img {
  border: 0;
  padding: 15px;
}

/* line 302, ../sass/layout.scss */
#corner_1 {
  top: 0;
  left: 0;
}

/* line 306, ../sass/layout.scss */
#corner_2 {
  bottom: 0;
  left: 0;
}

/* line 310, ../sass/layout.scss */
#corner_3 {
  top: 0;
  right: 0;
}

/* line 314, ../sass/layout.scss */
#corner_4 {
  bottom: 0;
  right: 0;
}

/* line 319, ../sass/layout.scss */
.avatar_1:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 0;
  border-bottom: solid 30px black;
  border-left: solid 15px transparent;
  border-right: 0;
}

/* line 332, ../sass/layout.scss */
.avatar_2 {
  bottom: 0;
}
/* line 334, ../sass/layout.scss */
.avatar_2:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 0;
  border-top: solid 30px black;
  border-left: solid 15px transparent;
  border-right: 0;
}

/* line 347, ../sass/layout.scss */
.avatar_3 {
  right: 0;
}
/* line 349, ../sass/layout.scss */
.avatar_3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 0;
  border-bottom: solid 30px black;
  border-right: solid 15px transparent;
  border-left: 0;
}

/* line 362, ../sass/layout.scss */
.avatar_4 {
  right: 0;
  bottom: 0;
}
/* line 365, ../sass/layout.scss */
.avatar_4:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 0;
  border-top: solid 30px black;
  border-right: solid 15px transparent;
  border-left: 0;
}

/* line 381, ../sass/layout.scss */
.hex_area {
  position: absolute;
  width: 85px;
  height: 83px;
}
/* line 386, ../sass/layout.scss */
.hex_area .left_top_left {
  top: 0;
  left: 0;
}
/* line 390, ../sass/layout.scss */
.hex_area .left_bottom_left {
  top: 45px;
  left: 0;
}
/* line 394, ../sass/layout.scss */
.hex_area .left_right {
  top: 23px;
  left: 34px;
}
/* line 398, ../sass/layout.scss */
.hex_area .right_top_right {
  top: 0;
  right: 0;
}
/* line 402, ../sass/layout.scss */
.hex_area .right_bottom_right {
  top: 45px;
  right: 0;
}
/* line 406, ../sass/layout.scss */
.hex_area .right_left {
  top: 23px;
  right: 34px;
}
/* line 410, ../sass/layout.scss */
.hex_area .right_ans, .hex_area .shake_count {
  position: absolute;
  font-size: 24px;
}

/* line 416, ../sass/layout.scss */
#hex_1 {
  bottom: 40px;
  right: 12px;
}
/* line 419, ../sass/layout.scss */
#hex_1 .right_ans {
  top: 8px;
  left: -6px;
}
/* line 423, ../sass/layout.scss */
#hex_1 .shake_count {
  bottom: 10px;
  right: 11px;
}

/* line 428, ../sass/layout.scss */
#hex_2 {
  top: 36px;
  right: 13px;
}
/* line 431, ../sass/layout.scss */
#hex_2 .right_ans {
  bottom: 6px;
  left: -6px;
}
/* line 435, ../sass/layout.scss */
#hex_2 .shake_count {
  bottom: 10px;
  right: 11px;
}

/* line 440, ../sass/layout.scss */
#hex_3 {
  bottom: 40px;
  left: 12px;
}
/* line 443, ../sass/layout.scss */
#hex_3 .right_ans {
  top: 8px;
  right: -6px;
}
/* line 447, ../sass/layout.scss */
#hex_3 .shake_count {
  bottom: 10px;
  left: 8px;
}

/* line 452, ../sass/layout.scss */
#hex_4 {
  top: 36px;
  left: 13px;
}
/* line 455, ../sass/layout.scss */
#hex_4 .right_ans {
  bottom: 6px;
  right: -6px;
}
/* line 459, ../sass/layout.scss */
#hex_4 .shake_count {
  bottom: 10px;
  left: 8px;
}

/**
 *                           _____ __
 *       ____  _________  / __(_) /__
 *      / __ \/ ___/ __ \/ /_/ / / _ \
 *     / /_/ / /  / /_/ / __/ / /  __/
 *    / .___/_/   \____/_/ /_/_/\___/
 *   /_/
 */
/* line 474, ../sass/layout.scss */
.profile {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 240px;
  font-size: 28px;
}
/* line 482, ../sass/layout.scss */
.profile .horizon {
  width: 105px;
  border: solid 3px #ff8800;
}
/* line 486, ../sass/layout.scss */
.profile .name, .profile .rank {
  padding: 6px 0;
}
/* line 489, ../sass/layout.scss */
.profile .name {
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 496, ../sass/layout.scss */
#profile_1 {
  bottom: 10px;
}

/* line 499, ../sass/layout.scss */
#profile_2 {
  top: 10px;
}

/* line 502, ../sass/layout.scss */
#profile_3 {
  bottom: 10px;
  right: 0;
  text-align: right;
}
/* line 506, ../sass/layout.scss */
#profile_3 .name {
  position: relative;
  left: 55px;
}
/* line 510, ../sass/layout.scss */
#profile_3 .horizon {
  position: relative;
  left: 125px;
}

/* line 515, ../sass/layout.scss */
#profile_4 {
  top: 10px;
  right: 0;
  text-align: right;
}
/* line 519, ../sass/layout.scss */
#profile_4 .name {
  position: relative;
  left: 55px;
}
/* line 523, ../sass/layout.scss */
#profile_4 .horizon {
  position: relative;
  left: 125px;
}

/* line 529, ../sass/layout.scss */
.con {
  position: relative;
  width: 630px;
  height: 768px;
  margin: 0 auto;
}
/* line 535, ../sass/layout.scss */
.con .banner {
  position: absolute;
  top: 60px;
  width: 100%;
}
/* line 539, ../sass/layout.scss */
.con .banner .banner_title {
  position: absolute;
  top: 6px;
  width: 100%;
  font-size: 48px;
  text-align: center;
}
/* line 546, ../sass/layout.scss */
.con .banner .hexagonal_top {
  top: -30px;
}
/* line 549, ../sass/layout.scss */
.con .banner .hexagonal_bottom {
  top: 30px;
}
/* line 552, ../sass/layout.scss */
.con .banner .hexagonal_left {
  left: 240px;
}
/* line 555, ../sass/layout.scss */
.con .banner .hexagonal_right {
  right: 240px;
}
/* line 559, ../sass/layout.scss */
.con #player {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -145px;
  margin-left: -180px;
  background: black;
}
/* line 566, ../sass/layout.scss */
.con #player .img_corner {
  position: absolute;
  height: 30px;
  width: 15px;
  background: #ff8800;
}
/* line 572, ../sass/layout.scss */
.con #player .d-30 {
  -webkit-transform: skew(-30deg, 0);
  -moz-transform: skew(-30deg, 0);
  -ms-transform: skew(-30deg, 0);
  -o-transform: skew(-30deg, 0);
  transform: skew(-30deg, 0);
}
/* line 575, ../sass/layout.scss */
.con #player .d_30 {
  -webkit-transform: skew(30deg, 0);
  -moz-transform: skew(30deg, 0);
  -ms-transform: skew(30deg, 0);
  -o-transform: skew(30deg, 0);
  transform: skew(30deg, 0);
}
/* line 578, ../sass/layout.scss */
.con #player .img_corner_top {
  top: -5px;
}
/* line 581, ../sass/layout.scss */
.con #player .img_corner_bottom {
  bottom: -3px;
}
/* line 584, ../sass/layout.scss */
.con #player .img_corner_left {
  left: -8px;
}
/* line 587, ../sass/layout.scss */
.con #player .img_corner_right {
  right: -8px;
}
/* line 591, ../sass/layout.scss */
.con .question_bg {
  position: absolute;
  top: 50%;
  height: 60px;
  width: 100%;
  margin-top: -30px;
}
/* line 598, ../sass/layout.scss */
.con .ans_bg {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 170px;
  font-size: 28px;
}
/* line 604, ../sass/layout.scss */
.con .ans_bg .ans {
  position: absolute;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}
/* line 612, ../sass/layout.scss */
.con .ans_bg .top {
  top: 20px;
}
/* line 615, ../sass/layout.scss */
.con .ans_bg .bottom {
  bottom: 10px;
}
/* line 618, ../sass/layout.scss */
.con .ans_bg .left {
  left: 40px;
}
/* line 621, ../sass/layout.scss */
.con .ans_bg .right {
  right: 40px;
}
/* line 624, ../sass/layout.scss */
.con .ans_bg .ans_top {
  top: 35px;
}
/* line 627, ../sass/layout.scss */
.con .ans_bg .ans_bottom {
  bottom: 25px;
}
/* line 630, ../sass/layout.scss */
.con .ans_bg .reciprocal_bg {
  bottom: 50px;
  left: 50%;
  margin-left: -15px;
  text-align: center;
}
/* line 635, ../sass/layout.scss */
.con .ans_bg .reciprocal_bg .reciprocal {
  color: #ff0000;
  font-size: 50px;
  padding-top: 6px;
}
