/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2013-10-22 22:52:41
 * @version $Id$
 */
/* line 17, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/layout.scss */
body, html {
  width: 100%;
}

/* line 20, ../sass/layout.scss */
body {
  position: absolute;
  background: black;
  color: #fff;
}

/**
 *         __                                            __
 *      / /_  ___  _  ______ _____ _____  ____  ____ _/ /
 *     / __ \/ _ \| |/_/ __ `/ __ `/ __ \/ __ \/ __ `/ /
 *    / / / /  __/>  </ /_/ / /_/ / /_/ / / / / /_/ / /
 *   /_/ /_/\___/_/|_|\__,_/\__, /\____/_/ /_/\__,_/_/
 *                         /____/
 */
/* line 38, ../sass/layout.scss */
.hexagonal {
  position: absolute;
  margin: 0 auto;
  width: 30px;
  height: 60px;
  background: #ff8800;
}
/* line 44, ../sass/layout.scss */
.hexagonal:before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 0;
  height: 0;
  border-top: solid 30px transparent;
  border-bottom: solid 30px transparent;
  border-left: 0;
  border-right: solid 15px #ff8800;
}
/* line 56, ../sass/layout.scss */
.hexagonal:after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 0;
  height: 0;
  border-top: solid 30px transparent;
  border-bottom: solid 30px transparent;
  border-left: solid 15px #ff8800;
  border-right: 0;
}

/* line 69, ../sass/layout.scss */
.hexagonal_1 {
  width: 840px;
}

/* line 72, ../sass/layout.scss */
.hexagonal_2 {
  width: 720px;
  left: 50%;
  margin-left: -360px;
}

/* line 77, ../sass/layout.scss */
.hexagonal_2_up {
  top: -30px;
}

/* line 80, ../sass/layout.scss */
.hexagonal_2_down {
  top: 30px;
}

/* line 83, ../sass/layout.scss */
.hexagonal_3 {
  width: 600px;
  left: 50%;
  margin-left: -300px;
}

/* line 88, ../sass/layout.scss */
.hexagonal_3_up {
  top: -60px;
}

/* line 91, ../sass/layout.scss */
.hexagonal_3_down {
  top: 60px;
}

/* line 94, ../sass/layout.scss */
.hexagonal_4_up {
  top: -120px;
}

/* line 97, ../sass/layout.scss */
.hexagonal_4_down {
  top: 120px;
}

/* line 100, ../sass/layout.scss */
.hexagonal_5 {
  width: 480px;
  left: 50%;
  margin-left: -240px;
}

/* line 105, ../sass/layout.scss */
.hexagonal_5_up {
  top: -150px;
}

/* line 108, ../sass/layout.scss */
.hexagonal_5_down {
  top: 150px;
}

/* line 111, ../sass/layout.scss */
.hexagonal_6_up {
  top: -180px;
  left: 50%;
  margin-left: -15px;
}

/* line 116, ../sass/layout.scss */
.hexagonal_6_down {
  top: 180px;
  left: 50%;
  margin-left: -15px;
}

/* line 121, ../sass/layout.scss */
.hexagonal_ans {
  width: 240px;
}

/**
 *                                                __        __
 *     _________  _________  ___  _____   _____/ /___  __/ /__
 *    / ___/ __ \/ ___/ __ \/ _ \/ ___/  / ___/ __/ / / / / _ \
 *   / /__/ /_/ / /  / / / /  __/ /     (__  ) /_/ /_/ / /  __/
 *   \___/\____/_/  /_/ /_/\___/_/     /____/\__/\__, /_/\___/
 *                                              /____/
 */
/* line 134, ../sass/layout.scss */
.corner {
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 10px;
}
/* line 140, ../sass/layout.scss */
.corner .avatar {
  position: absolute;
  width: 200px;
  height: 200px;
  background: #ff8800;
}
/* line 145, ../sass/layout.scss */
.corner .avatar img {
  border: 0;
  padding: 25px;
}

/* line 152, ../sass/layout.scss */
#corner_1 {
  top: 0;
  left: 0;
}

/* line 156, ../sass/layout.scss */
#corner_2 {
  bottom: 0;
  left: 0;
}

/* line 160, ../sass/layout.scss */
#corner_3 {
  top: 0;
  right: 0;
}

/* line 164, ../sass/layout.scss */
#corner_4 {
  bottom: 0;
  right: 0;
}

/* line 169, ../sass/layout.scss */
#avatar_1:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 0;
  border-bottom: solid 30px black;
  border-left: solid 15px transparent;
  border-right: 0;
}

/* line 182, ../sass/layout.scss */
#avatar_2 {
  bottom: 0;
}
/* line 184, ../sass/layout.scss */
#avatar_2:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 0;
  border-top: solid 30px black;
  border-left: solid 15px transparent;
  border-right: 0;
}

/* line 197, ../sass/layout.scss */
#avatar_3 {
  right: 0;
}
/* line 199, ../sass/layout.scss */
#avatar_3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 0;
  border-bottom: solid 30px black;
  border-right: solid 15px transparent;
  border-left: 0;
}

/* line 212, ../sass/layout.scss */
#avatar_4 {
  right: 0;
  bottom: 0;
}
/* line 215, ../sass/layout.scss */
#avatar_4:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 0;
  border-top: solid 30px black;
  border-right: solid 15px transparent;
  border-left: 0;
}

/* line 231, ../sass/layout.scss */
.hex_area {
  position: absolute;
  width: 95px;
  height: 93px;
}
/* line 236, ../sass/layout.scss */
.hex_area .left_top_left {
  top: 0;
  left: 0;
}
/* line 240, ../sass/layout.scss */
.hex_area .left_bottom_left {
  top: 65px;
  left: 0;
}
/* line 244, ../sass/layout.scss */
.hex_area .left_right {
  top: 33px;
  left: 50px;
}
/* line 248, ../sass/layout.scss */
.hex_area .right_top_right {
  top: 0;
  right: 0;
}
/* line 252, ../sass/layout.scss */
.hex_area .right_bottom_right {
  top: 65px;
  right: 0;
}
/* line 256, ../sass/layout.scss */
.hex_area .right_left {
  top: 33px;
  right: 50px;
}
/* line 260, ../sass/layout.scss */
.hex_area .right_ans, .hex_area .shake_count {
  position: absolute;
  font-size: 32px;
}

/* line 266, ../sass/layout.scss */
#hex_1 {
  bottom: 34px;
  right: 1px;
}
/* line 269, ../sass/layout.scss */
#hex_1 .right_ans {
  top: 14px;
  left: -6px;
}
/* line 273, ../sass/layout.scss */
#hex_1 .shake_count {
  bottom: 14px;
  right: 11px;
}

/* line 278, ../sass/layout.scss */
#hex_2 {
  top: 2px;
  right: 1px;
}
/* line 281, ../sass/layout.scss */
#hex_2 .right_ans {
  bottom: -16px;
  left: -6px;
}
/* line 285, ../sass/layout.scss */
#hex_2 .shake_count {
  bottom: 14px;
  right: 11px;
}

/* line 290, ../sass/layout.scss */
#hex_3 {
  bottom: 34px;
  left: 61x;
}
/* line 293, ../sass/layout.scss */
#hex_3 .right_ans {
  top: 14px;
  right: -6px;
}
/* line 297, ../sass/layout.scss */
#hex_3 .shake_count {
  bottom: 14px;
  left: 8px;
}

/* line 302, ../sass/layout.scss */
#hex_4 {
  top: 2px;
  left: 1px;
}
/* line 305, ../sass/layout.scss */
#hex_4 .right_ans {
  bottom: -16px;
  right: -6px;
}
/* line 309, ../sass/layout.scss */
#hex_4 .shake_count {
  bottom: 14px;
  left: 8px;
}

/**
 *                           _____ __
 *       ____  _________  / __(_) /__
 *      / __ \/ ___/ __ \/ /_/ / / _ \
 *     / /_/ / /  / /_/ / __/ / /  __/
 *    / .___/_/   \____/_/ /_/_/\___/
 *   /_/
 */
/* line 324, ../sass/layout.scss */
.profile {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 240px;
  font-size: 28px;
}
/* line 332, ../sass/layout.scss */
.profile .horizon {
  width: 105px;
  border: solid 3px #ff8800;
}
/* line 336, ../sass/layout.scss */
.profile .name, .profile .rank {
  padding: 6px 0;
}
/* line 339, ../sass/layout.scss */
.profile .name {
  width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 346, ../sass/layout.scss */
#profile_1 {
  bottom: 10px;
}

/* line 349, ../sass/layout.scss */
#profile_2 {
  top: 10px;
}

/* line 352, ../sass/layout.scss */
#profile_3 {
  bottom: 10px;
  right: 0;
  text-align: right;
}
/* line 356, ../sass/layout.scss */
#profile_3 .name {
  position: relative;
  left: 55px;
}
/* line 360, ../sass/layout.scss */
#profile_3 .horizon {
  position: relative;
  left: 125px;
}

/* line 365, ../sass/layout.scss */
#profile_4 {
  top: 10px;
  right: 0;
  text-align: right;
}
/* line 369, ../sass/layout.scss */
#profile_4 .name {
  position: relative;
  left: 55px;
}
/* line 373, ../sass/layout.scss */
#profile_4 .horizon {
  position: relative;
  left: 125px;
}

/* line 379, ../sass/layout.scss */
.con {
  position: relative;
  width: 840px;
  height: 720px;
  margin: 0 auto;
}
/* line 385, ../sass/layout.scss */
.con .qusetion_bg {
  position: absolute;
  top: 50%;
  height: 60px;
  width: 100%;
  margin-top: -30px;
}
/* line 392, ../sass/layout.scss */
.con .ans_bg {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 170px;
}
/* line 397, ../sass/layout.scss */
.con .ans_bg .top {
  top: 20px;
}
/* line 400, ../sass/layout.scss */
.con .ans_bg .bottom {
  bottom: 10px;
}
/* line 403, ../sass/layout.scss */
.con .ans_bg .left {
  left: 135px;
}
/* line 406, ../sass/layout.scss */
.con .ans_bg .right {
  right: 135px;
}
