@import "compass";
@import "compass/reset";
.file-status {
    margin: 5% auto;
    width: 50%;
    position: relative;
    .file-info {
        position: absolute;
        top: 0;
        display: table;
        width: 100%;
        .file-title,
        .file-progress,
        .file-size,
        .file-cancel {
            display: table-cell;
            padding: 0 10px;
            vertical-align: middle;
            height: 25px;
        }
        .file-name {
            width: 410px;
            display: inline-block;
            overflow: hidden;
            white-space : nowrap;
        }
        .file-size {
            width: 200px;
        }
        .file-progress {
            width: 100px;
        }
        .file-cancel {
            width: 12px;
        }
    }
}
span {
    /*border: solid 1px;*/
}
