<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="utf-8">
<title>Angulsr_form_Validation</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!-- <script src="../../lib/jquery-1.10.1.js"></script> -->
<script src="/lib/angular_v1.2.16.js"></script>
<!-- <link rel="stylesheet" href="/lib/bootstrap-3.0.0/css/bootstrap.css"> -->
<link rel="stylesheet" href="/lib/pure-0.4.2.css">
</head>
<body>
    <h1>Sign Up</h1>
    <form name='addUserForm' ng-controller="AddUserController">
        <div ng-show='message'>{{message}}</div>
        <div>First name: <input ng-model='user.first' required></div>
        <div>Last name: <input ng-model='user.last' required></div>
        <div>Email: <input type='email' ng-model='user.email' required></div>
        <div>Age: <input type='number' ng-model='user.age' ng-maxlength='3' ng-minlength='1'></div>
        <div><button class="pure-button" ng-click='addUser()' ng-disabled='!addUserForm.$valid'>Submit</button></div>
    </form>
</body>
<script>
    function AddUserController($scope) {
        $scope.message = '';

        $scope.addUser = function () {
            // TODO for the reader: actually save user to database...
            $scope.message = 'Thanks, ' + $scope.user.first + ', we added you!';
        };
    }
</script>
</html>