<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="utf-8">
<title>map_prototype</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script src="../../lib/angular.js"></script>
<link rel="stylesheet" href="stylesheets/map_prototype.css">
<script>
    function mapCtrl($scope, $http, $parse, $filter) {
        console.log('inCtrl');
        $http.jsonp(
            'http://spreadsheets.google.com/feeds/list/0AjwXA87smFI2dDBEcjNPekxCU28taE1GSFJPYzlRV0E/od6/public/values?alt=json-in-script&callback=JSON_CALLBACK'
        ).success(
            function (data) {
                // body...
                console.log(data);
                console.log(data.feed);
                console.log(data.feed.entry);
                var mapJson = data.feed.entry;
                var mapData = [],
                    updateData;
                for (x in mapJson) {
                    console.log(mapJson[x].gsx$title.$t);
                    console.log(mapJson[x].gsx$address.$t);
                    console.log(mapJson[x].gsx$description.$t);
                    console.log(mapJson[x].gsx$latitude.$t);
                    console.log(mapJson[x].gsx$longitude.$t);
                    console.log(mapJson[x].gsx$tag.$t);
                    updateData = {
                        position: new google.maps.LatLng(
                            mapJson[x].gsx$latitude.$t,
                            mapJson[x].gsx$longitude.$t
                        ),
                        title: mapJson[x].gsx$title.$t,
                        desc: mapJson[x].gsx$description.$t,
                        tag: mapJson[x].gsx$tag.$t
                    }
                    mapData.push(updateData);
                };
                $scope.mapData = mapData;
                console.log(mapData);

                // init mapMark
                // var myOptions,
                //     map,
                //     marker;

                // myOptions = {
                //     zoom: 14,
                //     center: new google.maps.LatLng(25.05043,121.51864),
                //     mapTypeId: google.maps.MapTypeId.ROADMAP
                // };
                // map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                // for (var i = 0; mapData.length > i; i++) {
                //     marker = new google.maps.Marker(mapData[i]);
                //     marker.setMap(map);
                // }

                // filter mapData
                var mapfilter = [],
                    x;
                for (x in mapData) {
                    console.log(mapData[x]);
                    if (mapData[x].tag == 'food') {
                        mapfilter.push(mapData[x]);
                    }
                }
                console.log('filterMap');
                console.log(mapfilter);

                // init marker
                var myOptions,
                    map,
                    marker;

                myOptions = {
                    zoom: 14,
                    center: new google.maps.LatLng(25.05043,121.51864),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                for (var i = 0; mapData.length > i; i++) {
                    marker = new google.maps.Marker(mapData[i]);
                    marker.setMap(map);
                }

            }
        ).error(
            function () {
                // body...
                console.log('fail');
            }
        );

    }
</script>
</head>
<body ng-controller="mapCtrl">
    <div id="map_canvas"></div>
    <div id="con">
        <div id="search">
            Search:<input ng-model="query">
        </div>
        <ul>
            <li ng-repeat="tagList in mapData">
                {{tagList.tag}}
                <input type="checkbox" ng-model="checked">
            </li>
        </ul>
    </div>
</body>
</html>