/**
 *
 * @authors Ted Shiu (you@example.org)
 * @date    2013-08-23 22:59:23
 * @version $Id$
 */
/* line 10, ../sass/highlight.scss */
*:hover {
  outline: solid 2px red;
}

/* line 13, ../sass/highlight.scss */
* *:hover {
  outline: solid 2px green;
}

/* line 16, ../sass/highlight.scss */
* * *:hover {
  outline: solid 2px blue;
}

/* line 19, ../sass/highlight.scss */
* * * *:hover {
  outline: solid 2px gray;
}

/* line 22, ../sass/highlight.scss */
* * * * *:hover {
  outline: solid 2px #0088ff;
}

/* line 25, ../sass/highlight.scss */
* * * * * *:hover {
  outline: solid 2px #ff8800;
}

/* line 28, ../sass/highlight.scss */
* * * * * * *:hover {
  outline: solid 2px #de3c4a;
}

/* line 31, ../sass/highlight.scss */
* * * * * * * *:hover {
  outline: solid 2px #8100de;
}

/* line 34, ../sass/highlight.scss */
* * * * * * * * *:hover {
  outline: solid 2px #00a1cd;
}

/* line 37, ../sass/highlight.scss */
* * * * * * * * * *:hover {
  outline: solid 2px #884800;
}

/* line 40, ../sass/highlight.scss */
* * * * * * * * * * *:hover {
  outline: solid 2px #88287f;
}

/* line 43, ../sass/highlight.scss */
* * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}

/* line 46, ../sass/highlight.scss */
* * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}

/* line 49, ../sass/highlight.scss */
* * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}

/* line 52, ../sass/highlight.scss */
* * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}

/* line 55, ../sass/highlight.scss */
* * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}

/* line 58, ../sass/highlight.scss */
* * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}

/* line 62, ../sass/highlight.scss */
* * * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}
/* line 66, ../sass/highlight.scss */
* * * * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}
/* line 70, ../sass/highlight.scss */
* * * * * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}
/* line 74, ../sass/highlight.scss */
* * * * * * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}
/* line 78, ../sass/highlight.scss */
* * * * * * * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}
/* line 82, ../sass/highlight.scss */
* * * * * * * * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}
/* line 86, ../sass/highlight.scss */
* * * * * * * * * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}
/* line 90, ../sass/highlight.scss */
* * * * * * * * * * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}
/* line 94, ../sass/highlight.scss */
* * * * * * * * * * * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}
/* line 98, ../sass/highlight.scss */
* * * * * * * * * * * * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}
/* line 102, ../sass/highlight.scss */
* * * * * * * * * * * * * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}
/* line 106, ../sass/highlight.scss */
* * * * * * * * * * * * * * * * * * * * * * * *:hover {
  outline: solid 2px #4f6c88;
}
/* line 110, ../sass/highlight.scss */
* * * * * * * * * * * * * * * * * * * * * * * * *:hover {
  outline: solid 2px #00a1cd;
}
/* line 114, ../sass/highlight.scss */
* * * * * * * * * * * * * * * * * * * * * * * * * *:hover {
  outline: solid 2px #00a1cd;
}
