/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2013-12-05 23:51:51
 * @version $Id$
 */

@import "compass";
@import "compass/reset";

.clearfix {
    *zoom: 1;
}
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

body {
    font-size: 18px;
    color: #444;
    line-height: 1.5;
    h2 {
        font-size: 32px;
        color: #000;
    }
    a, p {
        color: #242424;
    }
}

.active {
    background: #aaa;
}

// nav-layout
.nav-layout {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    ul {
        float: right;
        margin-right: 5px;
        li {
            float: left;
            padding: 5px;
            cursor: pointer;
            &:hover {
                background: #aaa;
            }
        }
    }
}

#con {
    position: relative;
    padding-top: 40px;
}

// layout-full
.layout-full {
    #layout {
        margin: 10px;
    }
}

// layout card
.layout-card {
    background: #eee;
    #layout {
        // -webkit-column-count: 3;
        // -moz-column-count: 3;
        // column-count: 3;
        margin: 40px 5px 0 5px;
        .resume {
            display: none;
        }
        .thumb, .desc {
            // float: left;
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px 10px 5px;
            padding: 10px;
            width: 300px;
            background: #dcdcdc;
            box-sizing: border-box;
            box-shadow: 1px 1px 7px rgba(0, 0, 0, .4);
        }
    }

}
// @media only screen
// and (min-width : 320px) {
//     .layout-card {
//         #layout {
//             -webkit-column-count: 1;
//             -moz-column-count: 1;
//             column-count: 1;
//         }
//     }
// }
// @media only screen
// and (min-width : 640px) {
//     .layout-card {
//         #layout {
//             -webkit-column-count: 2;
//             -moz-column-count: 2;
//             column-count: 2;
//         }
//     }
// }
// @media only screen
// and (min-width : 960px) {
//     .layout-card {
//         #layout {
//             -webkit-column-count: 3;
//             -moz-column-count: 3;
//             column-count: 3;
//         }
//     }
// }
// @media only screen
// and (min-width : 1280px) {
//     .layout-card {
//         #layout {
//             -webkit-column-count: 4;
//             -moz-column-count: 4;
//             column-count: 4;
//         }
//     }
// }

// layout list
.layout-list {
    #layout {
        .resume {
            display: none;
        }
        max-width: 960px;
        margin: 0 auto;
        background: #ddd;
        #avatar {
            img {
                display: block;
                margin: 0 auto;
            }
        }
        .desc {
            margin-top: 10px;
            // padding: 0 10px;
            h2 {
                background: #ccc;
                padding: 5px;
                box-shadow: 0 2px 7px rgba(0, 0, 0, .4);
            }
            hr {
                display: none;
            }
            p {
                padding: 10px;
                color: #666;
            }
        }
    }
}